:root{
--color-dark: #000000;
--couleurfond: #fffff3;
--couleurviolet: #a593e0;
--grisclair: #e0e3da;
--grisfoncé: #566270;
--catcours: #00FF00;
--catperso: #4169E1;
--spacing: 1rem;  
}

body{
    background-color: var(--couleurfond);
    width: 100vw;
    height: 100vh;
}

header{
    background-color: var(--grisfoncé);
    padding: var(--spacing);
}

h1{
    color: var(--couleurfond);
    text-shadow:1px 3px 8px rgba(0,0,0,0.80);
    font-size: calc( var(--spacing)*2);
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.main{
  width: 75vw;  
  min-height: 75vh; 
  margin: 10rem auto var(--spacing);
  display: flex;
  flex-direction: row;
}

.projet{
    border: solid 1px var(--grisfoncé);
    width: 50%;
    height: auto;
    padding: calc(var(--spacing) / 2);
    margin: calc(var(--spacing) / 2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.cat__projet{
  color: var(--color-dark);
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  text-align: center;
  display: inline;
}

.cat__projet--cours{
    background-color: var(--catcours);
}

.cat__projet--perso{
    background-color: var(--catperso);
}

.projet__image{
    width: 100%;
}

footer{
    color: var(--couleurfond);
    background-color: var(--grisfoncé);
    display: flex;
    justify-content: center;
    font-family: 'Asap', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: var(--spacing);
}

footer nav{
    display: inline-block;
    text-align: center;
}

footer nav ul{
    width: 50vw;
}

footer nav ul li{
    display: inline-block;
    padding: var(--spacing);
}

footer nav ul li:hover{
    color: var(--couleurviolet);
}